<div>
    <nav>
        <li>
            <a routerLink="Data-Binding-Page">Data-Binding-Page</a>
        </li>
        <li>
            <a routerLink="Form-Validators-Page">Form-Validators-Page</a>
        </li>
        <li>
            <a routerLink="DirectiveTest-Page">DirectiveTest-Page</a>
        </li>
        <li>
            <a routerLink="Data-model">Data-model</a>
        </li>
        <li>
            <a routerLink="Coffee-Shop">Coffee Shop</a>
        </li>

    </nav>
    <router-outlet></router-outlet>
</div>
